[submodule "dotbot"]
    path = dependencies/dotbot
    url = https://github.com/anishathalye/dotbot

[submodule "dotbot-pip"]
    path = dependencies/dotbot-pip
    url = https://github.com/sobolevn/dotbot-pip.git

[submodule "dotbot-apt"]
    path = dependencies/dotbot-apt
    url = https://github.com/bryant1410/dotbot-apt
[submodule "dependencies/dotbot-brew"]
	path = dependencies/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
